@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");


body {
  background-color:
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  color: #1a1c20;
  font-size: 12;
  line-height: 2;
  text-align: center;
  }
h1,h2,h3 {
  color: #1a1c20;
  font-family: 'Open Sans', sans-serif;
  font-size: 12;
  line-height: 2;
  }
link {
  color: blue
  text-decoration: none;
  font-size: 14;
  font-family: 'Open Sans', sans-serif;
  align-self: center;
}

.card {
  border: 1px #D3D3D3;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  #margin: 5px;
  #padding: 0px;
  width: 125px,
  height: 75%;
}

.card:hover {
  background-color: white;
}

.card p:hover {
  font-size: 20;
}

#cards_inline {
  display: inline;
  width: 30px;
  height: 30px;
  padding: 15px;
}

#blue_button {
  background-color:  #a82f15 ; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  align-self: center;
  }

#blue_button:hover {
    background-color: grey;
    opacity: 0.7;
    color: white;
    box-shadow: 0 30px 60px rgba(0,0,0,0.1);
  }
#list_social_media {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  }

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline-block;
  width: 100px;
  height: 160px;
  padding: 18px;
}

#profile_picture {
  border-radius: 75px;
}


